.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding-right: 80px;
  p {
    margin-left: 50%;
    transform: translate(-50%);
  }
  .icons {
    a:first-child {
      display: inline-block;
      background-image: url("../assets/Facebook.svg");
      height: 30px;
      width: 30px;
    }
    a:last-child {
      display: inline-block;
      background-image: url("../assets/Instagram.svg");
      height: 30px;
      width: 30px;
      margin-left: 20px;
    }
  }
}
