.footer {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  p {
    text-align: right;
    padding-right: 35%;
    position: relative;
    // &::after {
    //   position: absolute;
    //   top: -5px;
    //   right: 0;
    //   content: url("../assets/Facebook.svg");
    // }
  }
  .icons {
    // position: absolute;
    // right: 0;
    // .FB {
    //   height: 100%;
    //   background-image: ;
    // }
  }
}
