.help {
  padding-top: 70px;
  color: $color-5;
  h2 {
    color: $color-5;
    font-size: 38px;
    text-align: center;
    position: relative;
    margin-bottom: 120px;
    &::after {
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translate(-50%);
      content: url("../assets/Decoration.svg");
    }
  }
  nav {
    display: flex;
    justify-content: center;
    a {
      text-align: center;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      font-weight: 300;
      color: $color-5;
      height: 79px;
      width: 208px;
      font-size: 24px;
      align-items: center;
      border: 1px solid white;
    }
  }
  article {
    padding: 50px 6%;
    .description {
      margin: 0 20% 50px 20%;
      text-align: center;
      font-size: 22px;
    }
    .element {
      .element2 {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        .wrapper p:first-child {
          font-size: 26px;
        }
        .wrapper p:last-child {
          font-size: 18px;
        }
        p {
          font-size: 18px;
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid $color-5;
        }
      }
      ul {
        display: flex;
        justify-content: center;
        .li--paginateNumber {
          //
          padding: 10px;
          font-size: 18px;
          margin: 0 15px;
        }
        .activea {
          // padding: 10px;
          font-size: 18px;
          margin: 0 15px;
          border: 1px solid $color-5;
        }
      }
    }
  }
}
