.logOut {
  h1 {
    font-size: 40px;
    margin: 120px 0;
    text-align: center;
    position: relative;
    &::after {
      position: absolute;
      width: 100%;
      bottom: -70px;
      left: 50%;
      transform: translate(-50%);
      content: url("../assets/Decoration.svg");
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
    a {
      text-align: center;
      text-decoration: none;
      color: black;

      background: none;
      border-radius: 0;
      border: 1px solid $color-5;
      padding: 10px 18px;
    }
  }
}
